body {
  background-color: #1a1517;
  color: #eaeaf0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: #3b1c02;
  padding: 30px;
  border-radius: 18px;
  width: 420px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

h1 {
  margin-bottom: 10px;
}

.subtitle {
  color: #d110d1;
}


.avatar {
  width: 120px;
  border-radius: 50%;
  margin-bottom: 15px;
}


.btn {
  display: block;
  margin: 10px 0;
  padding: 12px;
  background: #5c6cff;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
}

.btn:hover {
  background: #4757ff;
}